aiobotocore==2.4.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.8.1
anyio==3.6.2
apache-airflow==2.4.2
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.2.1
apispec==3.3.2
argcomplete==2.0.0
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
botocore==1.27.59
cachelib==0.9.0
cattrs==22.2.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
clickclick==20.10.2
cloud-init==22.2
colorama==0.4.4
colorlog==4.8.0
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
ConfigUpdater==3.1.1
connexion==2.14.1
constantly==15.1.0
cron-descriptor==1.2.31
croniter==1.3.7
cryptography==3.4.8
DateTime==4.7
dbus-python==1.2.18
Deprecated==1.2.13
dill==0.3.6
distro==1.7.0
distro-info===1.1build1
dnspython==2.2.1
docutils==0.19
ec2-hibinit-agent==1.0.0
email-validator==1.3.0
exceptiongroup==1.0.1
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.1
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
frozenlist==1.3.3
fsspec==2022.10.0
graphviz==0.20.1
greenlet==2.0.1
gunicorn==20.1.0
h11==0.12.0
httpcore==0.15.0
httplib2==0.20.2
httpx==0.23.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
inflection==0.5.1
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.0.3
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.8.0
linkify-it-py==2.0.0
lockfile==0.12.2
Mako==1.2.3
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mdit-py-plugins==0.3.1
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.2
netifaces==0.11.0
numpy==1.23.4
oauthlib==3.2.0
packaging==21.3
pandas==1.5.1
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pluggy==1.0.0
prison==0.2.1
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
Pygments==2.13.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.3.0+ubuntu2.1
python-daemon==2.3.2
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-nvd3==0.15.0
python-slugify==6.1.2
pytz==2022.1
pytzdata==2020.1
PyYAML==5.4.1
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==12.6.0
s3fs==2022.10.0
SecretStorage==3.3.1
service-identity==18.1.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
sos==4.3
SQLAlchemy==1.4.43
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
ssh-import-id==5.11
swagger-ui-bundle==0.0.9
systemd-python==234
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.1.0
text-unidecode==1.3
Twisted==22.1.0
typing_extensions==4.4.0
ubuntu-advantage-tools==27.10
uc-micro-py==1.0.1
ufw==0.36.1
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.26.5
wadllib==1.3.6
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
yarl==1.8.1
zipp==1.0.0
zope.interface==5.4.0
